  
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  /* background: rgb(25, 38, 83); */
  background: radial-gradient(circle,rgb(0, 201, 181), rgb(25, 38, 83));
  color: #ffcb03;
  overflow: hidden;  /*Hide the scrollbar completely*/
  overflow-y: scroll;  /*Still allow scrolling*/
}

body::-webkit-scrollbar { 
  display: none;  /*This hides the scrollbar in webkit browsers*/
}